
.Product_list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 90px;
  margin-top: 30px;
  height: 350px;
}
.Image{
  width: 150px;
}
.txt1{
margin-bottom: 50px;
font-weight: bold;
}
.txt2{
  margin-bottom: 50px;
  font-weight: bold;
  }